@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root{
  --primary-color:white;
  --secondary-color:rgb(233, 217, 217);
  --p-color:#676f77;
  --img-op:1;
  --p-img:1;
  --f-color:#40474e;
}

.dark-theme{
  --primary-color:black;
  --secondary-color:#c3c9a9;
  --p-color:white;
 --img-op:.5;
 --p-img:.5;
 --f-color:#0b0c0e;
}
body{
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color:#505962;
    
     background-color: var(--primary-color);
}

.offset:before{
    display:block;
    content:"";
    height:4rem;
    margin-top:-4rem;


}
#icon{
  width:30px;
  cursor:pointer;
}

/* Navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;

}
.navbar-brand img{
    height: 2rem;

}
.navbar-brand {
    height: 2rem;
}
.navbar-nav li{
    padding-right: .7rem;

}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#1ebba3;
}

/* --landing--*/
/* .home-inner{
    background-image: url(img/computers.png);
} */

.video-background{
    position:relative;
    width: 100%;
    min-height: 50vh;
    background-color: (0,0,0,0.2)!important;
}
.caption{
    width:100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: rgb(224, 228, 212);
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;

}
.carousel-item{
    height:90vh;
    opacity: var(--p-img);
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    /* -webkit-text-stroke:0.3vw rosybrown; */
}

/* fliping anim
.flipY {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
} */

/* comein animation
.come {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.come:first-of-type {    
 animation: showup 7s infinite;
} 

.come:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.come:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
  font-size: 2rem;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
} */


.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.btn-lg{
    border-radius: 0;
    border-width: medium;
    padding:.6rem 1.3rem;
    font-size: 1.1rem;
    background-color: aqua;
}
/*-- Dark Mode Switch --*/

.slider{
  background-color: #505962;
  box-shadow: .1rem .1rem .8rem black;
}
.slider:before{
  background-color: white;
  transition: .5s;
}
input:checked+ .slider{
  background-color: #5691cc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
}
input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*--course--*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
  }
  .narrow h1 {
      font-size: 2.4rem;
    }
    /* text ANIMATION */
  .narrow h1
  {
  background-image: linear-gradient(
    -225deg,
    #563ead 0%,
    #27d6aa 29%,
    #da225c 67%,
    #caca21 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  .btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    color: white;
    border-color: #1EBBA3;
    background-color: #1EBBA3;
  }
  .btn-secondary:hover,
  .btn-secondary:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
  }

.narrow h3{
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 500;
    color:var(--p-color);
}


/*--feature--*/
.jumbotron{
    margin-bottom:0;
    padding:2rem 0 3.5rem;
    border-radius:0;
    background-color: var(--secondary-color);

}
.heading-underline{
    width: 3rem;
    height:.2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa{
    color:#1ebba3;
}
.feature h3{
    font-size:1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
    color: #40474e;


}
.feature p{
font-size:1.1rem;
color: black;

}


/*--resources--*/
.fixed {
  background-image: url(/img/cc.jpg); 
    z-index: -1;
    opacity:var(--img-op);
  
}
.dark{
    background-color: rgba(0,0.0.0.75);
    color:whitesmoke;
    padding: 7rem 2rem;
}
.fixed-background h3{
margin-bottom: 2rem;


}
.fixed-background p{
    margin-top: 1.5rem;

}
/* wave anim */
.wave {
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 30px;
  margin-bottom: 2rem;
}
.wave span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: wave 4s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes wave {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
/*--client--*/
.client img{
    width:100%;
    border-radius:50%;
}
blockquote .svg-inline--fa{
    color:#1ebba3;
    margin:1rem;
}
.cliens-hr{
    border-top:.05rem solid #1ebba3;
}
.bk{
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: .2rem;
    
    padding-bottom: 1rem;
    color: #5691cc;
}

  /* portfolio */
.portfolio img{
  padding-bottom: 2rem;
    max-width:90%;
    transition:transform .5s ease;
}
.row.no-padding [class*=col-]{
    padding:0;
}
.portfolio img:hover{
   transform:scale(1.1);
   cursor:zoom-in; 
}
.portfolio{
   overflow:hidden; 
}


footer{
    background-color: var(--f-color);
    color:white;
    padding: 2rem 0 2rem;
    margin-top:1rem;
}
footer img{
    height: 3rem;
    margin: 1.5rem 0;
}
footer a{
    color:white;
}
footer svg.svg-inline--fa{
    font-size:1.6rem;
    margin:1.2rem .5rem 0 0;

}
footer  svg.svg-inline--fa:hover{
    color: #1ebba3 !important;
}
hr.socket{
    width:100%;
    border-top:.2rem solid #666b71;
    margin-top:3rem;
}
/*--media queries*/
@media(max-width:767px){
    .caption h1{
        font-size: 2.3rem;
        font-weight: 700;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3{
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg{
        padding:.5rem 1rem;
        font-size: 1.1rem;
    }
    .narrow h1{
        font-size:1.5rem;
    }
    .client img{
    display:block;
        max-width:50%;
        margin:0 auto;
    }
}
